@page "/Workspace"
@inherits LayoutComponentBase

<div class="container-xxl d-md-flex min-vh-100">
	<HxSidebar ResponsiveBreakpoint="SidebarResponsiveBreakpoint.None">
		<HeaderTemplate>
			<HxSidebarBrand BrandName="LearningWorlds"/>
		</HeaderTemplate>
		<ItemsTemplate>
			<HxSidebarItem Text="LearningWorld 1" Icon="BootstrapIcon.Globe2" Href="." Match="NavLinkMatch.Prefix">
				<HxSidebarItem Text="LearningSpace" Icon="BootstrapIcon.Box" Match="NavLinkMatch.All"/>
				<HxSidebarItem Text="LearningElement" Icon="BootstrapIcon.Book" Match="NavLinkMatch.All"/>
			</HxSidebarItem>
			<HxSidebarItem Text="LearningWorld 2" Icon="BootstrapIcon.Globe2">
				<HxSidebarItem Text="LearningSpace" Icon="BootstrapIcon.Box" Match="NavLinkMatch.All"/>
				<HxSidebarItem Text="LearningElement" Icon="BootstrapIcon.Book" Match="NavLinkMatch.All"/>
			</HxSidebarItem>
			<HxSidebarItem Text="LearningWorld 3" Href="TODO" Icon="BootstrapIcon.Globe2">
				<HxSidebarItem Text="LearningSpace" Icon="BootstrapIcon.Box" Match="NavLinkMatch.All"/>
				<HxSidebarItem Text="LearningElement" Icon="BootstrapIcon.Book" Match="NavLinkMatch.All"/>
			</HxSidebarItem>
		</ItemsTemplate>
	</HxSidebar>

	<div class="container-xxl d-md-flex min-vh-100">
		<svg style="width: 100%; height: 600px; border: 1px solid green"
		     xmlns="http://www.w3.org/2000/svg"></svg>
	</div>
</div>


@code {
    
}